body {
    background-color: #E0E0F8; /* צבע רקע בגוון סגלגל בהיר אפרפר */
}

.sidebar {
    height: 100vh;
    position: fixed;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}


.card {
    margin-bottom: 20px;
}


/* .content {
    margin-top: 56px; /* מרווח מתחת ל-navbar */
} */

.container {
    background: rgba(255, 255, 255, 1); /* צבע רקע לבן עם שקיפות של 80% */
    border-radius: 10px;
}

.container-content {
    padding: 20px;
    background: none; /* תוכן פנימי ללא רקע */
}
.navbar-text-brand {
    font-size: 15px; /* Adjust this value to the desired size */
    margin-left: 5px; /* Optional: adjust the spacing between the logo and the text */
}
.logo {
    margin-left: 1px; 
}