{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block body %}
<div class="container mt-3">
    <div class="container-content">
        <h2>Login</h2>
        <div class="flash-messages">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        </div>
        <form method="POST" action="{{ url_for('login') }}" id="loginForm">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <a href="{{ url_for('forgot_password') }}" class="btn btn-link ajax-link">Forgot Password?</a>
            <a href="{{ url_for('register') }}" class="btn btn-link ajax-link">Create account</a>
        </form>
    </div>
</div>
{% endblock %}
<script>
    $(document).ready(function() {
        $('#loginForm').on('submit', function(e) {
            e.preventDefault();
            var $form = $(this);
            $.ajax({
                type: $form.attr('method'),
                url: $form.attr('action'),
                data: $form.serialize(),
                success: function(response) {
                    if (response.redirect) {
                        loadContent(response.redirect);
                    } else {
                        var $mainContent = $('#logged-main-content').length ? $('#logged-main-content') : $('#main-content');
                        var newContent = $(response).find('#logged-main-content').html() || $(response).find('#main-content').html();
                        $mainContent.html(newContent);
                        if ($('#logged-main-content').length) {
                            window.location.href = response.redirect;
                        }
                    }
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.log('Error:', textStatus, errorThrown);
                    alert('Failed to submit the form. Please try again.');
                }
            });
        });
    });

    function loadContent(url, addToHistory = true) {
        var $mainContent = $('#logged-main-content').length ? $('#logged-main-content') : $('#main-content');

        $mainContent.fadeOut(200, function() {
            $.get(url, function(data) {
                var newContent = $(data).find('#logged-main-content').html() || $(data).find('#main-content').html();
                $mainContent.html(newContent).fadeIn(200, function() {
                    loadScripts();
                });
                updateTitle(data);
                var flashMessages = $(data).find('.flash-messages').html();
                $('.flash-messages').html(flashMessages);
            });
        });

        if (addToHistory) {
            window.history.pushState({ path: url }, '', url);
        }
    }

    function loadScripts() {
        $.getScript('https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js');
        $.getScript('https://cdn.jsdelivr.net/npm/chart.js');
        $.getScript('/static/script.js');
    }

    function updateTitle(data) {
        var newTitle = $(data).filter('title').text();
        $('title').text(newTitle);
    }
</script>