body {
    background-color: #E0E0F8; /* צבע רקע בגוון סגלגל בהיר אפרפר */
}

.sidebar {
    height: 100vh;
    position: fixed;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.main-content {
    margin-left: 220px; /* מרווח מצד שמאל לתוכן הראשי */
    margin-top: 40px;
}

.card {
    margin-bottom: 20px;
}


.content {
    margin-top: 56px; /* מרווח מתחת ל-navbar */
}

.container {
    background: rgba(255, 255, 255, 1); /* צבע רקע לבן עם שקיפות של 80% */
    border-radius: 10px;
}

.container-content {
    padding: 20px;
    background: none; /* תוכן פנימי ללא רקע */
}
